In [154]:
import pandas as pd
import numpy as np
import math
import datetime
df = pd.read_excel (r'Data\Indian Boards Data as on 31-Mar-2019.xlsx')
df2 = pd.read_excel (r'Data\EduList (2).xlsx')

In [155]:
#function to check nan float values in dob column
def isNaN(num):
    return num != num

In [156]:
Age = []
A_date = []
datet = []
for i in range(0, len(df)):
    dob = df['Date of Birth'][i]
    appoin_date = df['Appointment Date'][i]
    if(isNaN(dob)):
        dob = 2019
    else:
        dob = dob[-4:]
    Age.append(2019 - int(dob))
    appoin_date = appoin_date[-4:]
    A_date.append(2019 - int(appoin_date))
    #converting the string date to datetime format
    datet.append(datetime.datetime.strptime(df['Appointment Date'][i].replace('-',' '), '%d %b %Y'))
#creating new columns in dataframe and appending them with their respective values 
df['Age'] = Age
df['Tenure'] = A_date
#replacing the original values with new one's
df['Gender'] = df['Gender'].replace(['M'], 0)
df['Gender'] = df['Gender'].replace(['F'], 1)

df['Appointment Date'] = datet

df['Independent (Yes/No)'] = df['Independent (Yes/No)'].replace(['NO'], 0)
df['Independent (Yes/No)'] = df['Independent (Yes/No)'].replace(['YES'], 1)

df['Member of Civil Services'] = df['Member of Civil Services'].replace(['IAS', 'IES', 'IRS', 'ISS', 'IPS', 'IA&AS', 'IFS','IPOS', 'IRPS'], 1)
df['Member of Civil Services'] = df['Member of Civil Services'].replace(['NONE'],0)
df['Member of Civil Services'] = df['Member of Civil Services'].fillna(0)

In [157]:
bank_names = df['Company'].unique()
for i in range(len(bank_names)):
    if(bank_names[i][-4:] == 'LTD.'):
        bank_names[i] = bank_names[i][:-5]
    if(bank_names[i][-8:] == 'LTD.,THE'):
        bank_names[i] = bank_names[i][:-9]
present = []
for i in range(0,len(df)):
    flag = 0
    if(isNaN(df['Brief Profile'][i])):
        present.append(np.nan)
        continue;
    else:
        for j in range(0,len(bank_names)):
            
            if(df['Brief Profile'][i].find(bank_names[j]) != -1 and flag==0):
                if(df['Company'][i] != bank_names[j]):
                    present.append(1)
                    flag=1
        if(flag==0):
            present.append(np.nan)
df['Other_banking_exp'] = present

Refining dataframe

In [158]:
df2=df2[['Unique_Degrees', 'Finance/Business Oriented (Yes/No,1/0)']]
df2.rename(columns = {'Finance/Business Oriented (Yes/No,1/0)':'value'}, inplace = True)
df2=df2[df2.value != 0]
df2=df2.reset_index()[['Unique_Degrees','value']]

Section for checking the specific qualifications against each row

In [159]:
present = []
for i in range(0,len(df)):
    flag = 0;
    y = [k for k in df[df.columns[15:25]].iloc[i] if str(k) != 'nan']
    for j in range(0,len(df2)):
        if(df2.iloc[j][0] in y and flag==0):
            present.append(1)
            flag=1
            break
    if(flag==0):
        present.append(0)
df[ "Fin/Mgmt/Econ Degree"] = present